@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p style="font-size: 20px; color: green; font-weight: bold; margin-top: 20px;">
        @ViewData["Calculator"]
    </p>
    <a href="calc" class="btn btn-warning">Calculator</a>
</div>
